@import url('https://fonts.googleapis.com/css?family=Stalemate');
@import url("https://fonts.googleapis.com/earlyaccess/cwtexyen.css");
*,
*:before,
*:after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  /*   background:  linear-gradient(
      rgba(255, 250, 250, 0.75),
      rgba(255, 250, 250, 0.75)), url(https://image.freepik.com/free-vector/forest-herbs-blue-background_8365-70.jpg); */
  /*     background:     linear-gradient(
      rgba(255, 250, 250, 0.75),
      rgba(255, 250, 250, 0.75)
    ), url(https://i.pinimg.com/736x/3c/c0/54/3cc0541a55ce0550f78246bed0a96380--vintage-floral-backgrounds-vintage-wallpapers.jpg); */
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)), url(https://s-media-cache-ak0.pinimg.com/originals/30/b3/a9/30b3a9b27032a6b9c1d7a69d2400fb9e.jpg);
  background-image: url("../img/background.jpg");
  /* font-family: 'Stalemate', cursive; */
  font-family: 'cwTeXYen', serif !important;
}


.container {
  overflow: hidden;
  margin-top: 3%;
}

.book-wrapper {
  position: relative;
  margin: 2% auto;
  width: 670px;
}

.book-wrapper img {
  filter: drop-shadow(15px 5px 5px #494338);
}

.pages-container {
  position: absolute;
  top: 4%;
  left: 3%;
  right: 0;
  bottom: 0;
  width: 91.5%;
  height: 91%;
}
.bg-music-container {
  text-align: center;
  width: 100%;
}
.pages {}

.pages [class^="page-num-"] {
  background-image: url("https://img00.deviantart.net/cbb9/i/2005/258/c/4/paper_texture_v5_by_bashcorpo.jpg");
  /* background-image: url("../img/background.jpg"); */
  background-image: url("../img/page_bg.jpg");
  background-size: auto 100%;
  position: relative;
}
.pages .page-num-1 {
  background-image: url("../img/page_ch_bg.jpg") !important;
}
.page-num-2 {
  background-image: url("../img/page_bg2.jpg") !important;
}
.page-num-4 {
  background-image: url("../img/page_bg3.jpg") !important;
}
.page-num-6 {
  background-image: url("../img/page_bg4.jpg") !important;
}
.page-num-8 {
  background-image: url("../img/page_bg5.jpg") !important;
}
.page-num-10 {
  background-image: url("../img/page_bg6.jpg") !important;
}
.page-num-12 {
  background-image: url("../img/page_bg8.jpg") !important;
}
.page-num-14 {
  background-image: url("../img/page_bg9.jpg") !important;
}
.page-num-16 {
  background-image: url("../img/page_bg10.jpg") !important;
}
.page-num-18 {
  background-image: url("../img/page_bg11.jpg") !important;
}
.page-num-20 {
  background-image: url("../img/page_bg12.jpg") !important;
}
.page-num-22 {
  background-image: url("../img/page_bg13.jpg") !important;
}
.page-num-24 {
  background-image: url("../img/page_bg14.jpg") !important;
}
.page-num-26 {
  background-image: url("../img/page_bg15.jpg") !important;
}
.page-num-28 {
  background-image: url("../img/page_bg16.jpg") !important;
}
.page-num-30 {
  background-image: url("../img/page_bg17.jpg") !important;
}
.page-num-32 {
  background-image: url("../img/page_bg18.png") !important;
}
.page-num-34 {
  background-image: url("../img/page_bg_sp.jpg") !important;
}
.page-num-35 {
  background-image: url("../img/page_end_bg.jpg") !important;
}
.page-egg {
  background-image: url("../img/page_bg_egg.png") !important;
}
.page-num-37 {
  background-image: url("../img/page_bg_egg_end.png") !important;
}
.page-main-cover {
  width: 310px;
  height: 440px;
  position: absolute;
  top: 63px;
  left: 135px;
  top: 20px;
  left: 32px;
}
.page-main-cover img {
  max-height: 445px;
  width: 298px;
}
.page-bg-content,.page-chp-content {
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.page-bg-content {
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)),
    url('../img/background.jpg');
  background-image: url("../img/page_bg.jpg");
}
.page-chp-content {
  background: linear-gradient(rgba(255, 255, 255, 0.9),
      rgba(255, 255, 255, 0.9)),
    url('../img/background.jpg');
  background-image: url("../img/page_ch_bg.jpg");
}
.pages-content {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10%;
}

.content-inner {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}


.book-wrapper {
  user-select: none;
}


[class^="page-num-"] .pages-background {
  /* background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(https://openclipart.org/image/2400px/svg_to_png/242093/Vintage-Floral-Texture-Background.png); */
  background: linear-gradient(rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)),
  url('../img/background.jpg');
  background-image: url("../img/background.jpg");
  background-size: cover;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
[class^="page-num-"] .text p {
  text-align: left;
  font-size: 18px
}
.even .text p{
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

.page-num-1 .text{
  font-size: 23px;
  font-weight: bold;
}
.page-num-1 .text p {
  text-align: center;
  font-size: 23px
}

.page-end h1 {
  padding-bottom: 75px;
  color: #fff;
}

.page-egg .text {
  padding-bottom: 65px;
}
